# ------------------------------------------------------------------
# Aliyun OSS. Activate when OBJECT_STORAGE_TYPE=aliyun-oss.
# Copy as aliyun-oss.env.
# ------------------------------------------------------------------
OBJECT_STORAGE_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OBJECT_STORAGE_REGION=cn-hangzhou
OBJECT_STORAGE_ACCESS_KEY_ID=#REPLACE_ME#
OBJECT_STORAGE_ACCESS_KEY_SECRET=#REPLACE_ME#
